header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 50px 0 10px;
    border-bottom: 2px solid rgb(194, 73, 250);
}

div {
    height: 100%;
    display: flex;
    align-items: center;
}

#logo {
    max-width: 100%;
    height: 100%;
    opacity: 1;
    filter: brightness(100%);
}

h1 {
    display: inline-block;
    font: normal 900 2rem "Lugrasimo", cursive;
    color: transparent;
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}


ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    padding: 10px;
    font-size: 1.2rem;
}

li span {
    display: block;
}

.img-box {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 0.7px solid gray;
}

li img {
    width: 100%;
    height: 100%;
}

header li button {
    width: 100px;
    font: 600 1.1rem "Lugrasimo", cursive;
    height: 30px;
    border-radius: 20px;
    outline: none;
    color: white;
    border: 0.5px solid gray;
    background-color: rgb(144, 74, 201);
    cursor: pointer;
}

header li button:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px, rgba(0, 0, 0, 0.1) 0px 1px 2px;
}

@media screen and (max-width: 400px) {

    h1 {
        font-size: 1.2rem;
        font-weight: 700;
    }

    ul {
        flex-direction: column;
    }

    li {
        padding: 1px;
    }

    .img-box, button {
        display: none;
    }
}